/* Tender Chatbot CSS */

.container.show-chatbot #chatbot-toggler {
    transform: rotate(90deg);
  }
  
  #chatbot-toggler span {
    color: #fff;
    position: absolute;
  }
  
  #chatbot-toggler span:last-child,
  .container.show-chatbot #chatbot-toggler span:first-child {
    opacity: 0;
  }
  
  .container.show-chatbot #chatbot-toggler span:last-child {
    opacity: 1;
  }
  
  .chatbot-popup {
    position: fixed;
    width: 420px;
    opacity: 0;
    right: 35px;
    bottom: 90px;
    pointer-events: none;
    transform: scale(0.2);
    overflow: hidden;
    background: #fff;
    border-radius: 15px;
    transform-origin: bottom right;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
                0 32px 64px -48px rgba(0, 0, 0, 0.5);
    transition: all 0.1s ease;
  }
  
  .container.show-chatbot .chatbot-popup {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
  }
  
  .chat-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 460px;
    overflow-y: auto;
    margin-bottom: 82px;
    padding: 25px 22px;
    scrollbar-width: thin;
    scrollbar-color: #DDD3F9 transparent;
  }
  
  .chat-body .message {
    display: flex;
    gap: 11px;
    align-items: center;
  }
  
  .chat-body .message.error .message-text {
    color: #ff0000;
  }
  
  .chat-body .bot-message .message-text {
    background: #F6F2FF;
    border-radius: 13px 13px 13px 3px;
  }
  
  .chat-body .user-message {
    flex-direction: column;
    align-items: flex-end;
  }
  
  .chat-body .user-message .message-text {
    color: #fff;
    background: #f59e0b;
    border-radius: 13px 13px 3px 13px;
  }
  
  .chat-form .message-input:valid~#send-message {
    display: block;
  }
  
  /* Responsive media query for mobile screens */
  @media (max-width: 520px) {
    #chatbot-toggler {
      right: 20px;
      bottom: 20px;
    }
    
    .chatbot-popup {
      right: 0;
      bottom: 0;
      height: 100%;
      border-radius: 0;
      width: 100%;
    }
    
    .chatbot-popup .chat-header {
      padding: 12px 15px;
    }
    
    .chat-body {
      height: calc(90% - 55px);
      padding: 25px 15px;
    }
    
    .chat-footer {
      padding: 10px 15px 15px;
    }
  }